@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    margin: 0 auto;
    max-width: 1980px;    
}

.bg-color-#FFC85E{
  background-color: #FFC85E;
}

.bg-color-#EDEDED{
  background-color: #EDEDED;
}
